.navbar {

    background: rgba(79, 70, 229, 0.9); /* matches hero */
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    padding: 17px 20px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.nav-content {
    max-width: 1200px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover {
    opacity: 0.8;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 35px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 15px;
    position: relative;
    transition: 0.3s ease;
}

/* Underline animation */
.nav-links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0%;
    height: 2px;
    background: white;
    transition: 0.3s ease;
}

.nav-links a:hover::after {
    width: 100%;
}
