section{
    padding: 80px 20px;
    text-align: center;
}

.hero{
    background: linear-gradient(to right, #4f46e5, #7c3aed);
    color: white;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content{
    max-width: 700px;
}

.hero h1{
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 1.6;
}

.primary-btn{
    padding: 12px 30px;
    font-size: 16px;
    border: none;
    background-color: white;
    color: #4f46e5;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease;
}

.primary-btn:hover{
    background-color: #e5e7eb;
}

.features{
    background-color: #f9fafb;
}

.features h2{
    font-size: 32px;
    margin-bottom: 50px;
}

.feature-grid{
    display: flex;
    justify-content: center;
    gap:30px;
    flex-wrap: wrap;
}

.feature-card{
    background: white;
    padding: 30px;
    width: 280px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.05);
    transition: 0.3s ease;
}

.feature-card:hover{
    transform: translateY(-5px);
}

.feature-card h3{
    margin-bottom: 15px;
}

.cta{
    background-color: #111827;
    color: white;
}

.secondary-btn{
    padding: 12px 30px;
    font-size: 16px;
    border: none;
    background-color: #4f46e5;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease;
}

.secondary-btn:hover{
    background-color: #4338ca;
}

.footer{
    background-color: #1f2937;
    color: #d1d5db;
    padding: 20px;
}