<app-navbar></app-navbar>
<section class="hero">
    <div class="hero-content">
        <h1>welcome to JournalApp</h1>
        <p>Capture your thoughts. Track your mood. Understand yourself better every day.</p>
        <button class="primary-btn">Get Started</button>
    </div>
</section>

<section class="features">
    <h2>Why use JournalApp?</h2>

    <div class="feature-grid">
        <div class="feature-card">
            <h3>Daily Journaling</h3>
            <p>Write and manage your personal journal entries daily.</p>
        </div>
        <div class="feature-card">
            <h3>Weather Tracking</h3>
            <p>See weather updates when you write your journal</p>
        </div>
        <div class="feature-card">
            <h3>Sentiment Analysis</h3>
            <p>Analyze your mood and understand emotional patterns.</p>
        </div>
    </div>
</section>

<section class="cta">
    <h2>Start Your Journey Todat</h2>
    <button class="secondary-btn">Create Account</button>
</section>

<footer class="footer">
    <p>JournalApp 2026.</p>
</footer>
