.dashboard {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 250px;
    background: #111827;
    color: white;
    padding: 20px;
    transition: width 0.3s ease;
    overflow: hidden;
}

.sidebar.collapsed {
    width: 50px;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.toggle-btn {
    background: transparent;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
}


.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
    cursor: pointer;
    transition: 0.2s ease;
}

.sidebar li:hover {
    color: #4f46e5;
}

.icon {
    font-size: 30px;
}

.text {
    font-size: 14px;
}

.main {
    flex: 1;
    background: #f9fafb;
    display: flex;
    flex-direction: column;
    transition: margin-left 0.3s ease;
}

.topbar {
    height: 70px;
    background: white;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.logout-btn {
    padding: 8px 15px;
    border: none;
    background: #4f46e5;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}


.content {
    padding: 30px;
    display: flex;
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    flex: 1;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.05);
}
